    #areaA {
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        color: black;
    }
    
    #areaA:hover {
        background-color: rgb(216, 216, 216);
        color: rgb(47, 0, 255);
        transform: scale(1.1);
        border-radius: 2px;
    }
    
    #areaB {
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        color: black;
    }
    
    #areaB:hover {
        background-color: rgb(216, 216, 216);
        color: rgb(47, 0, 255);
        transform: scale(1.1);
        border-radius: 2px;
    }
    
    .Diet1 {
        background-color: rgb(180, 218, 123);
    }
    
    .Diet2 {
        background-color: rgb(174, 168, 255);
    }
    
    .Diet3 {
        background-color: rgb(253, 255, 123);
    }
    
    .Diet4 {
        background-color: rgb(255, 166, 236);
    }
    
    .Diet5 {
        background-color: rgb(255, 184, 103);
    }
    
    .Diet6 {
        background-color: rgb(244, 255, 92);
    }
    
    .Diet7 {
        background-color: rgb(118, 255, 244);
    }
    
    .Diet8 {
        background-color: rgb(255, 125, 125);
    }
    
    .Diet9 {
        background-color: rgb(222, 223, 221);
    }
    
    #inicio:hover {
        transform: scale(1.1);
        color: rgb(47, 0, 255);
    }
    
    #Secuencia {
        background-color: rgb(196, 196, 196);
        border-radius: 10px;
        padding: 5rem 5rem 5rem 5rem;
        margin-top: 5rem;
        display: none;
    }
    
    h2 {
        padding: 1.5rem 3rem 1rem 1rem;
        background-color: rgb(95, 95, 95);
        color: white;
    }
  
    h1 {
        color: rgb(7, 7, 7);
        font-family: Arial, Helvetica, sans-serif;
    }
    #MensajeEmergente{
        color: rgb(253, 253, 253);
        font-size: 25px;
        background-color: rgb(39, 104, 202);
        border-radius: 8px;
        padding: 5px 0px 5px 15px;
        margin: 10px 0px 0px 0px;
        display: none;
    }
